body{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
}
*,
*:before,
*:after{
box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container{
width: 100%;
height: 100%;
margin: 0 center;
}
.header{

    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgb(238, 238, 238);
}
.header__logo{
    padding-left: 16px;
    font-size: 50px;
    font-weight: 700;
    color: black;

}
.nav{
    padding-top: 30px;
    padding-left: 20px;
    font-size: 14px;
    text-transform: unset;
}

.nav__link{
    margin: 0 20px 20px;
    letter-spacing: 4px;
    display: inline-block;
    vertical-align: top;
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: bolder;
    transition: color 0.2s linear;
    position: relative;
}
.nav__link:hover{
    color: rgb(110, 110, 110);
}

.nav__link:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(110, 110, 110);
    opacity: 0;

    position: absolute;
    top: 110%;
    left: 0;
    z-index: 1;
    transition: opacity 0.2s linear;
}

.nav__link:hover:after{
    opacity: 1;

}

.header__inner{
   display: inline-flex;
   align-items: center;
}

.intro{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(164, 164, 255);
    background-size: cover;
    }