{% extends "siteHomePage/wrapper.html" %} {% block title %}Автосервис - {{service.service_item_title}}{% endblock %} {% block body %} {% load static %}
<section class="services-about">
    <div class="container-services">
        <div class="about__about-one-service">
            <div class="about__about-back-one-service">
                <a href="/services/"><i class="fas fa-angle-double-left fa-lg"></i> Вернуться назад</a>
            </div>
            <div class="about__about-title-one-service">
                <span>{{service.service_item_title}}</span>
            </div>
            <div class="about__about-line-one-service"></div>
            <div class="about__about-text">
                <p>{{service.service_item_text_title}}
                </p>
            </div>
        </div>
        <div class="about__info-items">
            <div class="about__info-item">
                <div class="about__info-item-title">
                    <span>Описание:</span>
                </div>
                <div class="about__info-item-text">
                    <div class="about__info-item-text-content">
                        <p>{{service.service_item_text}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="about__info-item">
                <div class="services__info-item-wrapper">
                    <div class="about__info-item-title-one-service">
                        <span>Стоимость</span>
                    </div>
                    <div class="about__info-item-addon-one-service"><span>{{service.service_item_price}}</span>
                    </div>
                </div>

            </div>

            <div class="about__info-item">
                <div class="about__info-item-title-one-service ">
                    <span>Дополнительная информация</span>
                </div>
                <div class="about__info-item-text">
                    <div class="about__info-item-text-content">
                        <p>{{service.service_item_additional_info}}</p>
                    </div>

                </div>
            </div>

        </div>


</section>
{% endblock %}