{% extends "siteHomePage/wrapper.html" %} {% block title %}Автосервис - Отзывы{% endblock %} {% block body %} {% load static %}
<section class="services-about">
    <div class="container-services">
        <div class="services__about">
            <div class="services__about-title"><span>Отзывы</span>
            </div>
            <div class="reviews__about-line"></div>
            <div class="services__about-text">
                <p>Отзывы наших клиентов
                </p>
            </div>
        </div>
        <div class="reviews__info-items">
            {% if reviews_list %} {% for j in reviews_list %}
            <div class="reviews__info-item-wrapper-blue">
                <div class="reviews__info-item">
                    <div class="reviews__info-item-title">
                        <span>{{j.name_review}}</span>
                    </div>
                    <div class="reviews__info-item-date">
                        <span>{{j.time_pub_review}}</span>
                    </div>

                </div>
                <div class="reviews__about-line-separator"></div>
                <div class="reviews__info-item-addon">
                    <p>{{j.body_review}}</p>
                </div>

            </div>
            {% endfor %} {% else %}
            <div class="services__info-items-empty">
                <div class="services__info-item-wrapper-empty"><span>Отзывы отсутствуют ¯\_(ツ)_/¯</span>
                </div>
            </div>
            {% endif%}
        </div>
</section>
<section class="reviews__form">
    <div class="container-services">
        <div class="reviews__form-content-align">
            <form method="post">
                <div class="reviews__form-box-inner">
                    <div class="reviews__form-box-title"><span>Оставить отзыв</span></div>
                    {% csrf_token %} {{formReview.name_review.errors}}
                    <label for="{{ form.name.id_for_label }}">{{formReview.name_review}}</label> {{formReview.email_review.errors}}
                    <label for="{{ form.phone.id_for_label }}">{{formReview.email_review}}</label> {{formReview.body_review.errors}}
                    <label for="{{ form.body.id_for_label }}">{{formReview.body_review}}</label>
                    <button class="feedback__form-box-btn" type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}