{% extends "siteHomePage/wrapper.html" %} {% block title %}Автосервис - Главная{% endblock %} {% block body %}
<section class="services">
    <div class="container-services">
        <div class="services__line-up"></div>
        <div class="services__top">
            <div class="services__title">
                <span>УСЛУГИ АВТОСЕРВИСА</span>

            </div>
            <div class="services__text">
                <p>Наш автосервис оснащен современным оборудованием для диагностики и ремонта автомобилей любых марок</p>
            </div>
        </div>
        <div class="services__items">
            <div class="services__item">
                <div class="services__item-padding">
                    <div class="services__item-vertical-line">
                        <div class="services__item-title">
                            <span><i class="fas fa-star"></i>Шиномонтаж </span>
                        </div>
                        <div class="services__item-line"></div>
                        <div class="services__item-text">
                            <p>Шиномонтаж и балансировка колёс в тёплом боксе и на современном оборудовании.</p>
                        </div>
                        <div class="services__item-btn">
                            <a href="#" class="services__item-link">Подробнее <i class="fas fa-angle-double-right fa-xs"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services__item">
                <div class="services__item-padding">
                    <div class="services__item-vertical-line">
                        <div class="services__item-title">
                            <span><i class="fas fa-star"></i>Шиномонтаж </span>
                        </div>
                        <div class="services__item-line"></div>
                        <div class="services__item-text">
                            <p>Шиномонтаж и балансировка колёс в тёплом боксе и на современном оборудовании.</p>
                        </div>
                        <div class="services__item-btn">
                            <a href="#" class="services__item-link">Подробнее <i class="fas fa-angle-double-right fa-xs"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services__item">
                <div class="services__item-padding">
                    <div class="services__item-vertical-line">
                        <div class="services__item-title">
                            <span><i class="fas fa-star"></i>Шиномонтаж </span>
                        </div>
                        <div class="services__item-line"></div>
                        <div class="services__item-text">
                            <p>Шиномонтаж и балансировка колёс в тёплом боксе и на современном оборудовании.</p>
                        </div>
                        <div class="services__item-btn">
                            <a href="#" class="services__item-link">Подробнее <i class="fas fa-angle-double-right fa-xs"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services__line-down">
        </div>
        <div class="services__btn">
            <a href="services/" class="services__btn-link">Полный список услуг</a>
        </div>
    </div>

</section>
<section class="advantages">
    <div class="container-services">
        <div class="advantages__line-up"></div>
        <div class="advantages__top">
            <div class="advantages__title">
                <span>НАШИ ПРЕИМУЩЕСТВА</span>

            </div>
            <div class="advantages__text">
                <p>Удобство, качество и надежность</p>
            </div>
        </div>
        <div class="advantages__items">
            <div class="advantages__item">
                <div class="advantages__item-icon"><i class="fas fa-user-tie fa-10x"></i></div>
                <div class="advantages_item-padding">
                    <div class="advantages__item-title">
                        <span>Высококлассные специалисты</span>
                    </div>
                    <div class="advantages__item-text">
                        <p>Каждый наш сотрудник – квалифицированный специалист, который способен выполнить сервисные работы любой сложности</p>
                    </div>
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__item-icon"><i class="fas fa-user-tie fa-10x"></i></div>
                <div class="advantages_item-padding">
                    <div class="advantages__item-title">
                        <span>Высококлассные специалисты</span>
                    </div>
                    <div class="advantages__item-text">
                        <p>Каждый наш сотрудник – квалифицированный специалист, который способен выполнить сервисные работы любой сложности</p>
                    </div>
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__item-icon"><i class="fas fa-user-tie fa-10x"></i></div>
                <div class="advantages_item-padding">
                    <div class="advantages__item-title">
                        <span>Высококлассные специалисты</span>
                    </div>
                    <div class="advantages__item-text">
                        <p>Каждый наш сотрудник – квалифицированный специалист, который способен выполнить сервисные работы любой сложности</p>
                    </div>
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__item-icon"><i class="fas fa-user-tie fa-10x"></i></div>
                <div class="advantages_item-padding">
                    <div class="advantages__item-title">
                        <span>Высококлассные специалисты</span>
                    </div>
                    <div class="advantages__item-text">
                        <p>Каждый наш сотрудник – квалифицированный специалист, который способен выполнить сервисные работы любой сложности</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="advantages__line-down">
        </div>
    </div>

</section>
<section class="latest-reviews">
    <div class="container-services">
        <div class="latest-reviews__top">
            <div class="latest-reviews__title">
                <span>ОТЗЫВЫ</span>

            </div>
            <div class="latest-reviews__text">
                <p>Отзывы наших клиентов</p>
            </div>
        </div>
        <div class="latest-reviews__items">
            <div class="latest-reviews__item">
                <div class="latest-reviews__item-padding">
                    <div class="latest-reviews__item-header">
                        <div class="latest-reviews__item-title">
                            <span>Васильев Артем</span>
                        </div>
                        <div class="latest-reviews__date">
                            <span>Дата: 19.03.1999 </span>
                        </div>
                    </div>
                    <div class="latest-reviews__item-line-up"></div>
                    <div class="latest-reviews__item-text">
                        <p>Шиномонтаж и балансировка колёс в тёплом боксе и на современном оборудовании.</p>
                    </div>
                    <div class="latest-reviews__item-line-down"></div>
                </div>
            </div>
            <div class="latest-reviews__item">
                <div class="latest-reviews__item-padding">
                    <div class="latest-reviews__item-header">
                        <div class="latest-reviews__item-title">
                            <span>ПЕТРОВИЧ</span>
                        </div>
                        <div class="latest-reviews__date">
                            <span>Дата: 19.03.1999 </span>
                        </div>
                    </div>
                    <div class="latest-reviews__item-line-up"></div>
                    <div class="latest-reviews__item-text">
                        <p>Шиномонтаж и балансировка колёс в тёплом боксе и на современном оборудовании.</p>
                    </div>
                    <div class="latest-reviews__item-line-down"></div>
                </div>
            </div>
            <div class="latest-reviews__item">
                <div class="latest-reviews__item-padding">
                    <div class="latest-reviews__item-header">
                        <div class="latest-reviews__item-title">
                            <span>Васильев Артем</span>
                        </div>
                        <div class="latest-reviews__date">
                            <span>Дата: 19.03.1999 </span>
                        </div>
                    </div>
                    <div class="latest-reviews__item-line-up"></div>
                    <div class="latest-reviews__item-text">
                        <p>Шиномонтаж и балансировка колёс в тёплом боксе и на современном оборудовании.</p>
                    </div>
                    <div class="latest-reviews__item-line-down"></div>
                </div>
            </div>
        </div>
        <div class="latest-reviews__line-down">
        </div>
        <div class="latest-reviews__btn">
            <button class="latest-reviews__btn-link" type="button" data-toggle="modal" data-target="#reviewModal">Оставить отзыв</a>
        </div>
    </div>
</section>
{% endblock %}