{% extends "siteHomePage/wrapper.html" %} {% block title %}Автосервис - Главная{% endblock %} {% block body %}
<section class="slider">
    <div class="slider__container">
        <div class="slider__inner">
            <div class="slider__item">
                <div class="slider__block_top">
                    <div class="slider__block_top_content">
                        <div class="slider__title">
                            <span>Костромской Автосервис</span>
                        </div>
                        <div class="slider__text">
                            <ul>
                                <li><i class="fas fa-check fa-xl"></i>диагностика</li>
                                <li><i class="fas fa-check fa-xl"></i>ремнот</li>
                                <li><i class="fas fa-check fa-xl"></i>автомойка</li>
                                <li><i class="fas fa-car-alt fa-lg"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="slider__block_center_content">
                        <div class="slider__text">
                            <p>Честный автосервис с командой профессионалов, которая бережно относится к автомобилям клиентов и дает полную гарантию на свою работу!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}