{% extends "siteHomePage/wrapper.html" %} {% block title %}Автосервис - Главная {% endblock %} {% block body %}
<section class="services">
    <div class="container-services">
        <div class="services__line-up"></div>
        <div class="services__top">
            <div class="services__title">
                <span>УСЛУГИ АВТОСЕРВИСА</span>

            </div>
            <div class="services__text">
                <p>Наш автосервис оснащен современным оборудованием для диагностики и ремонта автомобилей любых марок</p>
            </div>
        </div>
        <div class="services__items">
            {% if services_list_home_page %} {% for b in services_list_home_page %}
            <div class="services__item">
                <div class="services__item-padding">
                    <div class="services__item-vertical-line">
                        <div class="services__item-title">
                            <span><i class="fas fa-star"></i>{{b.service_item_title}} </span>
                        </div>
                        <div class="services__item-line"></div>
                        <div class="services__item-text">
                            <p>{{b.service_item_text_title}}</p>
                        </div>
                        <div class="services__item-btn">
                            <a href="{{b.service_item_url_home_page}}" class="services__item-link">Подробнее <i class="fas fa-angle-double-right fa-xs"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} {% else %} {% endif %}

        </div>
        <div class="services__line-down">
        </div>
        <div class="services__btn">
            <a href="services/" class="services__btn-link">Полный список услуг</a>
        </div>
    </div>

</section>
<section class="advantages">
    <div class="container-services">
        <div class="advantages__line-up"></div>
        <div class="advantages__top">
            <div class="advantages__title">
                <span>НАШИ ПРЕИМУЩЕСТВА</span>

            </div>
            <div class="advantages__text">
                <p>Удобство, качество и надежность</p>
            </div>
        </div>
        <div class="advantages__items">
            {% if advantage_list_home_page %} {% for a in advantage_list_home_page %}
            <div class="advantages__item">
                <div class="advantages__item-icon"><i class="{{a.advantage_item_icon}}"></i></div>
                <div class="advantages_item-padding">
                    <div class="advantages__item-title">
                        <span>{{a.advantage_item_title_home_page}}</span>
                    </div>
                    <div class="advantages__item-text">
                        <p>{{a.advantage_item_text_home_page}}</p>
                    </div>
                </div>
            </div>
            {% endfor %} {% else %} {% endif %}
        </div>
        <div class="advantages__line-down">
        </div>
    </div>

</section>
<section class="latest-reviews">
    <div class="container-services">
        <div class="latest-reviews__top">
            <div class="latest-reviews__title">
                <span>ОТЗЫВЫ</span>

            </div>
            <div class="latest-reviews__text">
                <p>Отзывы наших клиентов</p>
            </div>
        </div>
        <div class="latest-reviews__items">
            {% if reviews_list_home_page %} {% for m in reviews_list_home_page %}
            <div class="latest-reviews__item">
                <div class="latest-reviews__item-padding">
                    <div class="latest-reviews__item-header">
                        <div class="latest-reviews__item-title">
                            <span>{{m.name_review}}</span>
                        </div>
                        <div class="latest-reviews__date">
                            <span>{{m.time_pub_review}}</span>
                        </div>
                    </div>
                    <div class="latest-reviews__item-line-up"></div>
                    <div class="latest-reviews__item-text">
                        <p>{{m.body_review}}</p>
                    </div>
                    <div class="latest-reviews__item-line-down"></div>
                </div>
            </div>
            {% endfor %} {% else %}{% endif%}
        </div>
        <div class="latest-reviews__line-down">
        </div>
        <div class="latest-reviews__btn">
            <a href="/reviews" class="latest-reviews__btn-link">Оставить отзыв</a>
        </div>
    </div>
</section>
{% endblock %}