{% extends "siteHomePage/wrapper.html" %} {% block title %}Автосервис - Наши услуги{% endblock %} {% block body %}
<section class="services">
    <div class="container-services">
        <div class="services__nav-info">
            <a href="#" class="services__nav-info-link">Главная</a>
        </div>
        <div class="services__about">
            <div class="services__about-title"><span>Об организации</span>
            </div>
            <div class="services__about-line"></div>
            <div class="services__about-text">
                <p>Мы — автосервис. Работаем с 2020 года и уже 0 лет успешно развиваемся в сфере ремонта и обслуживания автомобилей.</p>
            </div>
        </div>
        <div class="services__info-items">
            <div class="services__info-item">
                <div class="services__info-item-title">
                    <span>Почему выбирают именно нас?</span>
                </div>
                <div class="services__info-item-text">
                    <div class="services__info-item-text-icon"><i class="fas fa-chevron-circle-right fa-lg"></i></div>
                    <div class="services__info-item-text-content">
                        <p>Ремонт и обслуживание автомобилей по рекомендациям завода производителя с гарантией 2 года; Качество работ: мы делаем работу качественно и в срок, иначе — возвращаем деньги; Мы действительно знаем толк в ремонте автомобилей и умеем
                            это делать; Умеренные цены: оптимальное соотношение цены и качества; Честность: мы ремонтируем и меняем только то, что действительно нужно; Гарантия на работу и запчасти: даём гарантию 2 года на все провёденные работы и купленные
                            у нас запчасти; Вежливый персонал: гарантируем комфортное общение с сотрудниками нашего автосервиса.</p>
                    </div>

                </div>
            </div>

        </div>
        <div class="services__gallery">
            <div class="services__gallery-title">
                <span>Галерея</span>
            </div>
            <div class="services__gallery-items">
                <div class="services__gallery-item">
                    <div class="services__item-padding">
                        <div class="services__item-img">

                        </div>
                        <div class="services__item-img-text">

                        </div>
                    </div>
                </div>
            </div>
        </div>


</section>
{% endblock %}