<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/homePage.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/media.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'siteHomePage/images/favicon.png' %}" type="image/png">
</head>

<body>
    <header class="header">
        <div class="header__top">
        </div>
        <div class="header__content">
            <div class="container-custom">
                <div class="header__logo">
                    <a href="/"><img class="desktop" src="{% static 'siteHomePage\images\logo.png' %}">
                        <img class="mobile" src="{% static 'siteHomePage\images\logo_small.png' %}"></a>
                </div>
                <div class="header-nav-button-align">
                    <nav class="header_menu">
                        <div class="header__btn-menu">
                            <span><i class="fas fa-bars fa-lg"></i></span>
                        </div>
                        <ul>
                            <li><a href="/"><i
                                        class="fas fa-home fa-xs {% if request.path == '/' %}active{% endif %}"></i>ГЛАВНАЯ</a>
                            </li>
                            <li><a href="/services"><i
                                        class="fas fa-bars fa-xs {% if request.path == '/services/' %}active{% endif %}"></i>НАШИ
                                    УСЛУГИ</a></li>
                            <li><a href="/about"><i
                                        class="fas fa-info-circle fa-xs {% if request.path == '/about/' %}active{% endif %}"></i>ОБ
                                    ОРГАНИЗАЦИИ</a></li>
                            <li><a href="/reviews"><i
                                        class="fas fa-comments fa-xs {% if request.path == '/reviews/' %}active{% endif %}"></i></i>ОТЗЫВЫ</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header_review_btn">
                        <a href="/reviews" class="review_btn">Оставить отзыв</a>
                        <!-- <button class="review_btn" type="button" data-toggle="modal" data-target="#reviewModal">Оставить отзыв</button> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bottom">
            <div class="container-custom-bottom">
                <div class="header_info_content">

                    <div class="header_social">

                        <div class="header__social-web">
                            <span class="tooltiptext-btn">Работаем пн-пт с 8:00 до 18:00</span>
                            <span class="header__social-web-small"><i class="fas fa-clock fa-2x"></i></span>

                            <span class="header__social-web-big"><i class="fas fa-clock fa-lg"></i></span>
                            <span class="header__social-web-big">Работаем пн-пт с 8:00 до 18:00</span>
                        </div>
                        <div class="header__social-web">
                            <span class="tooltiptext-btn">Пишите: auto@service44.com</span>
                            <span class="header__social-web-small"><i class="fas fa-envelope fa-2x"></i></span>

                            <span class="header__social-web-big"><i class="fas fa-envelope fa-lg"></i></span>
                            <span class="header__social-web-big">Пишите: auto@service44.com</span>
                        </div>
                        <div class="header__social-web">
                            <span class="header__phone header__social-web-big"><i class="fas fa-phone-square-alt fa-lg"></i></span>
                            <a class="header__social-web-big" href="tel:79607386319">Звоните: 7 960-738-63-19</a>
                            <a class="header__social-web-small" href="tel:79607386319"><i class="fas fa-phone-square-alt fa-2x"></i></a>
                        </div>
                    </div>
                    <div class="goog-toolbar-separator" aria-disabled="true" role="separator" style="user-select: none;">
                        &nbsp;
                    </div>
                    <div class="header_social">
                        <span class="header__social-web">Соц. сети:</span>
                        <a class="header__facebook" href="https://vk.com/livefx"><i
                                class="fab fa-facebook-square fa-sm"></i></a>
                        <a class="header__google" href="https://vk.com/livefx"><i
                                class="fab fa-google-plus-g fa-sm"></i></a>
                        <a class="header__vk" href="https://vk.com/livefx"><i class="fab fa-vk fa-sm"></i></a>
                        <a class="header__twitter" href="https://vk.com/livefx"><i class="fab fa-twitter fa-sm"></i></a>
                        <a class="header__viber" href="https://vk.com/livefx"><i class="fab fa-viber fa-sm"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <section class="slider">
        <div class="slider__container">
            <div class="slider__inner">
                <div class="slider__item">
                    <div class="slider__block_top">
                        <div class="slider__block_top_content">
                            <div class="slider__title">
                                <span>Костромской Автосервис</span>
                            </div>
                            <div class="slider__text">
                                <ul>
                                    <li><i class="fas fa-check fa-xl"></i>диагностика</li>
                                    <li><i class="fas fa-check fa-xl"></i>ремнот</li>
                                    <li><i class="fas fa-check fa-xl"></i>автомойка</li>
                                    <li><i class="fas fa-car-alt fa-lg"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="slider__block_center_content">
                            <div class="slider__text">
                                <p>Честный автосервис с командой профессионалов, которая бережно относится к автомобилям клиентов и дает полную гарантию на свою работу!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% block body %}{% endblock %}
    <section class="finder">
        <div class="finder__line-up"></div>
        <div class="container-finder">
            <div class="container__finder-inner">
                <div class="finder__top">
                    <div class="finder__title">
                        <span>где и как нас найти</span>
                    </div>
                </div>

                <div class="finder__items">
                    <div class="finder__item-padding">
                        <div class="finder__items-line"></div>
                        <div class="finder__item">
                            <div class="finder__item-header">
                                <div class="finder__item-title">
                                    <span>Адрес нашего автосервиса</span>
                                </div>
                            </div>

                            <div class="finder__item-text">

                                <p><i class="fas fa-map-marker-alt fa-sm"></i>Ул. Ленина, 33</p>
                            </div>
                        </div>
                        <div class="finder__item">
                            <div class="finder__item-header">
                                <div class="finder__item-title">
                                    <span>Телефон</span>
                                </div>
                            </div>

                            <div class="finder__item-text">
                                <p><i class="fas fa-phone-alt fa-sm"></i>8-960-738-63-19</p>
                            </div>
                        </div>
                        <div class="finder__item-btn">
                            <button class="finder__item-link" type="button" data-toggle="modal" data-target="#feedbackModal">Форма обратной связи</button>
                        </div>
                        <div class="finder__items-line"></div>
                    </div>
                    <div class=finder__point-map>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2128.716610021613!2d40.950541316106296!3d57.75523584325449!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46ad502794ccb5ab%3A0x5254893fbc8338d0!2z0JrQvtGB0YLRgNC-0LzRgdC60L7QuSDRgtC10YXQvdC-0LvQvtCz0LjRh9C10YHQutC40Lkg0YLQtdGF0L3QuNC60YPQvA!5e0!3m2!1sru!2sru!4v1590353335521!5m2!1sru!2sru"
                            height="320" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>

        </div>
        <div class="finder__line-down"></div>
    </section>
    <footer class="footer">
        <div class="container-footer">
            <div class="container__footer-content">
                <div class="footer__items">
                    <div class="footer__item-logo-outer">

                        <div class="footer__item-logo">
                        </div>

                    </div>
                    <div class="footer__item">
                        <div class="footer_item-padding">
                            <div class="footer__item-title">
                                <span>Навигация</span>
                            </div>

                            <div class="footer__menu">
                                <ul>
                                    <li><a href="#" class="footer__item-link">Главная</a></li>
                                    <li><a href="#" class="footer__item-link">Наши услуги</a></li>
                                    <li><a href="#" class="footer__item-link">Об нас</a></li>
                                    <li><a href="#" class="footer__item-link">Отзывы</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer__item">
                        <div class="footer_item-padding">
                            <div class="footer__item-title">
                                <span>Другая информация </span>
                            </div>

                            <div class="footer__menu">
                                <ul>
                                    <li><a href="#" class="footer__item-link">Карта</a></li>
                                    <li><a href="#" class="footer__item-link">Телефон</a></li>
                                    <li><a href="#" class="footer__item-link">Соглашение</a></li>
                                    <li><a href="#" class="footer__item-link">Смысл</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer__item">
                        <div class="footer_item-padding">
                            <div class="footer__item-title">
                                <span>Мы в соц сетях</span>
                            </div>

                            <div class="footer__menu-social">
                                <ul>
                                    <li><a href="https://vk.com/feed" class="footer__item-link"><i
                                                class="fab fa-vk fa-2x"></i></a></li>
                                    <li><a href="https://vk.com/feed" class="footer__item-link"><i
                                                class="fab fa-viber fa-2x"></i></a></li>
                                    <li><a href="https://vk.com/feed" class="footer__item-link"><i
                                                class="fab fa-twitter fa-2x"></i></a></li>
                                    <li><a href="https://vk.com/feed" class="footer__item-link"><i
                                                class="fab fa-facebook fa-2x"></i></a></li>
                                    <li><a href="https://steamcommunity.com/id/LiveSixx/" class="footer__item-link"><i
                                                class="fab fa-steam fa-2x"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="footer__line"></div>
                <div class="footer__copyright">
                    <div class="footer__copy">
                        <span style="user-select: none;">Copyright <i class="far fa-copyright"></i> АвтоСервис 2020 Все
                            права защищены</span>
                    </div>
                    <div class="footer__auth">
                        <span style="user-select: none;">Разработка макета сайта и сайта: Васильев Артем</span>
                    </div>
                </div>
            </div>
    </footer>
    {% include "siteReviews/includes/modal_reviewForm.html" %}
    <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="feedback__form-content-align">
                    <form method="post">

                        <div class="feedback__form-box-inner">
                            <div class="feedback__form-box-title"><span>Оставьте сообщение и мы с вами свяжемся</span></div>
                            {% csrf_token %} {{form.name.errors}}
                            <label for="{{ form.name.id_for_label }}">{{form.name}}</label> {{form.phone.errors}}
                            <label for="{{ form.phone.id_for_label }}">{{form.phone}}</label> {{form.body.errors}}
                            <label for="{{ form.body.id_for_label }}">{{form.body}}</label>
                            <button class="feedback__form-box-btn" type="submit">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js" integrity="sha256-GaKOLXTn7uJXFuWp57ukQZGuKK2gWZWlEH16hc6jBU8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c9bb692bee.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>