{% extends "siteHomePage/wrapper.html" %} {% block title %}Автосервис - Наши услуги{% endblock %} {% block body %} {% load static %}
<section class="services-about">
    <div class="container-services">
        <div class="about__about">
            <div class="about__about-title"><span>Об организации</span>
            </div>
            <div class="about__about-line"></div>
            <div class="about__about-text">
                <p>Мы — автосервис. Работаем с 2020 года и уже 0 лет успешно развиваемся в сфере ремонта и обслуживания автомобилей.
                </p>
            </div>
        </div>
        <div class="about__info-items">
            <div class="about__info-item">
                <div class="about__info-item-title">
                    <span>Почему выбирают именно нас?</span>
                </div>
                <div class="about__info-item-text">
                    <div class="about__info-item-text-icon"><i class="fas fa-chevron-circle-right fa-lg"></i></div>
                    <div class="about__info-item-text-content">
                        <p>Ремонт и обслуживание автомобилей по рекомендациям завода производителя с гарантией 2 года; Качество работ: мы делаем работу качественно и в срок, иначе — возвращаем деньги; Мы действительно знаем толк в ремонте автомобилей и умеем
                            это делать; Умеренные цены: оптимальное соотношение цены и качества; Честность: мы ремонтируем и меняем только то, что действительно нужно; Гарантия на работу и запчасти: даём гарантию 2 года на все провёденные работы и купленные
                            у нас запчасти; Вежливый персонал: гарантируем комфортное общение с сотрудниками нашего автосервиса.
                        </p>
                    </div>

                </div>
            </div>
            <div class="about__info-item">
                <div class="about__info-item-title">
                    <span>Наша миссия</span>
                </div>
                <div class="about__info-item-text">
                    <div class="about__info-item-text-icon"><i class="fas fa-chevron-circle-right fa-lg"></i></div>
                    <div class="about__info-item-text-content">
                        <p>Сделать ремонт авто простым и доступным.</p>
                    </div>

                </div>
            </div>

        </div>
        <div class="about__gallery">
            <div class="about__gallery-title">
                <span>Галерея</span>
            </div>
            <div class="about__gallery-items">
                <div class="about__gallery-item">

                    <div class="about__item-img">
                        <img src="{% static 'siteHomePage\images\Evolution.png' %}">
                    </div>
                    <div class="about__gallery-item-bottom">
                        <span>Небо</span>
                    </div>
                </div>
                <div class="about__gallery-item">

                    <div class="about__item-img">
                        <img src="{% static 'siteHomePage\images\gallery_photo1.png' %}">
                    </div>
                    <div class="about__gallery-item-bottom">
                        <span>Главный вход Главный вход</span>
                    </div>
                </div>
                <div class="about__gallery-item">

                    <div class="about__item-img">
                        <img src="{% static 'siteHomePage\images\gallery_photo1.png' %}">
                    </div>
                    <div class="about__gallery-item-bottom">
                        <span>Главный вход Главный вход</span>
                    </div>
                </div>
                <div class="about__gallery-item">

                    <div class="about__item-img">
                        <img src="{% static 'siteHomePage\images\gallery_photo1.png' %}">
                    </div>
                    <div class="about__gallery-item-bottom">
                        <span>Главный вход Главный вход</span>
                    </div>
                </div>
                <div class="about__gallery-item">

                    <div class="about__item-img">
                        <img src="{% static 'siteHomePage\images\123.jpg' %}">
                    </div>
                    <div class="about__gallery-item-bottom">
                        <span>Главный вход Главный вход</span>
                    </div>
                </div>
            </div>
        </div>


</section>
{% endblock %}