*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .1s ease-in-out;
}

body {
    text-decoration: none;
    background: #f8fcfd !important;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

li a {
    text-decoration: none;
    outline: none;
    color: #ffffff;
}

.header__social-web {
    position: relative;
    display: inline-block;
}

.header__social-web .tooltiptext-btn {
    width: 120px;
    top: 100%;
    left: 50%;
    font-size: 10px;
    font-family: "Roboto";
    margin-left: -60px;
    margin-top: 5px;
    visibility: hidden;
    width: 120px;
    background-color: #464646;
    color: #c7c7c7;
    text-align: center;
    padding: 1px 1px;
    border-radius: 12px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.header__social-web:hover .tooltiptext-btn {
    display: none;
    visibility: visible;
}

.header_menu a:hover {
    color: #fff5e8;
    padding-bottom: 5px;
    text-decoration: none;
    border-color: #ff8422;
    outline: none;
}

.header_menu a {
    border-bottom: 2px solid transparent;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 0.3px;
}

.header {
    width: 100%;
    z-index: 100;
    text-decoration: none;
    font-weight: 400;
    font-family: "Roboto";
    font-size: 24px;
}

.header__top {
    background-color: #ff8422;
    height: 20px;
}

.header__content {
    background-color: #02a8f3;
}

.header__content_flex {
    display: flex;
    justify-content: space-between;
}

.header-nav-button-align {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header_menu li {
    display: inline-block;
    padding-right: 20px;
}

.header_menu ul {
    margin-bottom: 0;
}

.header__bottom {
    background-color: #0077d2;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5);
}

.container-custom {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
}

.container-custom-bottom {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0 20px;
}

.goog-toolbar-separator {
    height: 36px;
    line-height: normal;
    vertical-align: middle;
    width: 0px;
    border-left: 1px solid rgb(255, 255, 255);
    list-style: none;
    margin: 0 5px;
    outline: none;
    overflow: hidden;
    padding: 0px;
    text-decoration: none;
}

.review_btn {
    margin-left: 10px;
    border: none;
    white-space: nowrap;
    border-radius: 32px;
    line-height: 32px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    background-color: #ff8422;
    padding-bottom: 14px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 14px;
    display: block;
    position: relative;
    float: right;
}

.review_btn:hover {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    background-color: #ee7c1f;
    text-decoration: none;
    outline: none;
}

.review_btn:active {
    color: #ffffff;
    background-color: #df741c;
    text-decoration: none;
    outline: none;
}

.header_social {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.header_social a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 3px;
}

.header__facebook:hover,
.header__google:hover,
.header__vk:hover,
.header__twitter:hover,
.header__viber:hover {
    color: #ffa256;
}

.header__social-web {
    color: #ffffff;
    text-decoration: none;
    margin: 0 6px;
    letter-spacing: 0.2px;
    font-size: 12px;
}

.header__social-web a:hover {
    color: #ffffff;
    text-decoration: none;
}

.header_info_content {
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
}

.fa-home,
.fa-bars,
.fa-comments,
.fa-info-circle {
    margin: 0 6px;
}

.header__btn-menu {
    display: none;
}

.header__social-web-small {
    display: none;
}

.active {
    text-decoration: none;
    color: #ff8422;
    outline: none;
}

.header__logo {
    margin: auto 0;
}

.header__logo .mobile {
    display: none;
}

.slider {
    width: 100%;
    background-image: url("/static/siteHomePage/images/large_section_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 450px;
    margin-top: 10px;
}

.slider__container {
    max-width: 630px;
    margin: 0 auto;
}

.slider__inner {
    position: relative;
}

.slider__block_top {
    display: block;
    text-align: left;
    padding-top: 110px;
    margin: 0 auto;
}

.slider__block_top_content {
    background-color: #02a8f3;
    display: inline-block;
    padding: 0 20px;
    border-radius: 32px;
}

.slider__block_center_content {
    background-color: #0077d2;
    display: inline-block;
    padding: 0 20px;
    padding-top: 10px;
    border-radius: 26px 0 26px 26px;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.slider__title {
    float: left;
    font-size: 44px;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.3px;
    font-family: 'Roboto';
}

.slider__text p {
    max-width: 450px;
    font-size: 14px;
    color: #ffffff;
    font-weight: lighter;
    letter-spacing: 0.3px;
    font-family: 'Roboto';
    float: none;
    display: inline-block;
    padding-right: 10px;
}

.slider__text li {
    font-size: 20px;
    color: #ffffff;
    font-weight: 100;
    letter-spacing: 0.3px;
    font-family: 'Roboto';
    float: none;
    display: inline-block;
    padding-right: 15px;
}

.slider__text .fa-check {
    padding-right: 5px;
}

.services {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-services {
    padding: 0 15px;
    max-width: 1170px;
    margin: 0 auto;
}

.services__line-up {
    border-radius: 6px;
    width: 25%;
    height: 6px;
    margin-left: auto;
    margin-right: auto;
    color: #02a8f3;
    background-color: #02a8f3;
}

.services__top {
    margin: 0 auto;
    max-width: 700px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.services__title {
    padding-bottom: 2px;
}

.services__text {
    padding-bottom: 10px;
}

.services__title span {
    text-transform: uppercase;
    font-size: 45px;
    color: #393939;
    font-weight: 400;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.services__text p {
    display: block;
    font-size: 20px;
    color: #393939;
    font-weight: 400;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.services__line-down {
    width: 25%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    color: #ff8422;
    background-color: #ff8422;
}

.services__items {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.services__item-padding {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
}

.services__item {
    max-width: 260px;
    text-align: left;
    position: relative;
    min-height: 300px;
    background-color: #f5fdff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.services__item:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 90%;
    top: 5%;
    left: 5px;
    background-color: #ffc222;
}

.services__item-title {
    font-size: 20px;
    color: #393939;
    font-weight: bold;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.fa-star {
    padding-right: 5px;
    padding-left: 5px;
}

.services__item-line {
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #ff8422;
    background-color: #ff8422;
}

.services__item-text {
    margin-bottom: 15px;
    margin: 0 auto;
    font-size: 16px;
    color: #393939;
    font-weight: normal;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.services__item-btn {
    padding-top: 15px;
    position: absolute;
    bottom: 25px;
}

.services__item-link {
    font-family: 'Roboto';
    font-size: 14px;
    letter-spacing: 1px;
    margin-right: 40px;
    font-weight: lighter;
    border-radius: 32px;
    line-height: 32px;
    color: #ffffff;
    text-decoration: none;
    background-color: #ff8422;
    padding: 8px;
}

.services__item-link:hover {
    color: #ffffff;
    background-color: #ee7c1f;
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.services__item-link:active {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    color: #ffffff;
    background-color: #df741c;
    text-decoration: none;
    outline: none;
}

.services__btn {
    margin-top: 45px;
    position: relative;
    text-align: center;
}

.services__btn-link {
    font-family: 'Roboto';
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: lighter;
    border-radius: 32px;
    line-height: 32px;
    color: #ffffff;
    background-color: #ff8422;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
}

.services__btn-link:hover {
    color: #ffffff;
    background-color: #ee7c1f;
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.services__btn-link:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    background-color: #df741c;
    text-decoration: none;
    outline: none;
}

.advantages {
    padding-top: 20px;
    padding-bottom: 20px;
}

.advantages__line-up {
    width: 80%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    color: #ff8422;
    background-color: #ff8422;
}

.advantages__title {
    padding-bottom: 2px;
}

.advantages__title span {
    text-transform: uppercase;
    font-size: 45px;
    color: #393939;
    font-weight: 400;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.advantages__top {
    margin: 0 auto;
    max-width: 700px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.advantages__text {
    padding-bottom: 10px;
}

.advantages__text p {
    display: block;
    font-size: 20px;
    color: #393939;
    font-weight: 400;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.advantages__items {
    margin-top: 30px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.advantages-padding {
    padding: 0px;
}

.advantages__item {
    max-width: 280px;
    text-align: center;
    position: relative;
    min-height: 300px;
    background: transparent;
}

.advantages__item-title {
    margin-bottom: 10px;
    font-size: 20px;
    color: #393939;
    font-weight: bold;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.advantages__item-text {
    margin: 0 auto;
    font-size: 16px;
    color: #393939;
    font-weight: normal;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.advantages__item-icon {
    color: #02a8f3;
    margin-bottom: 20px;
}

.advantages__line-down {
    width: 80%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    color: #02a8f3;
    background-color: #02a8f3;
}

.latest-reviews {
    padding-top: 20px;
    padding-bottom: 20px;
}

.latest-reviews__top {
    margin: 0 auto;
    max-width: 700px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.latest-reviews__title {
    padding-bottom: 2px;
}

.latest-reviews__title span {
    font-size: 45px;
    color: #393939;
    font-weight: 400;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.latest-reviews__text {
    padding-bottom: 10px;
}

.latest-reviews__text p {
    display: block;
    font-size: 20px;
    color: #393939;
    font-weight: 400;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.latest-reviews__items {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.latest-reviews__item {
    border-radius: 32px;
    max-width: 350px;
    text-align: left;
    position: relative;
    min-height: 300px;
    background-color: #02a8f3;
}

.latest-reviews__item-padding {
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.latest-reviews__item-line-up {
    height: 1px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    background-color: #ffffff;
}

.latest-reviews__item-line-down {
    bottom: 0;
    position: absolute;
    width: 89%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    background-color: #ffffff;
}

.latest-reviews__item-text {
    margin: 0 auto;
    font-size: 12px;
    color: #ffffff;
    font-weight: 100;
    letter-spacing: 0.3px;
    font-family: 'Roboto';
}

.latest-reviews__item-text p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.latest-reviews__item-title {
    letter-spacing: 0.3;
    font-size: 22px;
    color: #ffffff;
    font-weight: 100;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.latest-reviews__item-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.latest-reviews__date {
    letter-spacing: 0.3;
    font-size: 12px;
    color: #ffffff;
    font-weight: lighter;
    font-style: italic;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.latest-reviews__line-down {
    width: 25%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    color: #02a8f3;
    background-color: #02a8f3;
}

.latest-reviews__btn {
    margin-top: 45px;
    position: relative;
    text-align: center;
}

.latest-reviews__btn-link {
    white-space: nowrap;
    border: none;
    font-family: 'Roboto';
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: lighter;
    border-radius: 32px;
    line-height: 32px;
    color: #ffffff;
    background-color: #02a8f3;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
}

.latest-reviews__btn-link:hover {
    color: #ffffff;
    background-color: #049de4;
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.latest-reviews__btn-link:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    background-color: #0692d3;
    text-decoration: none;
    outline: none;
}

.finder {
    padding-top: 20px;
    padding-bottom: 20px;
}

.finder__line-up,
.finder__line-down {
    margin-top: 10px;
    max-width: 60%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    color: #3ba642;
    background-color: #3ba642;
}

.finder__point-map {
    max-width: 630px;
    width: 100%;
}

.finder__point-map iframe {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.container-finder {
    margin: 15px 0;
    background-color: #3ba642;
}

.container__finder-inner {
    display: block;
    max-width: 1170px;
    margin: auto;
    padding: 0px 20px;
}

.finder__title {
    padding-bottom: 5px;
}

.finder__title span {
    text-transform: uppercase;
    font-size: 45px;
    color: #ffffff;
    font-weight: lighter;
    letter-spacing: 0.3px;
    font-family: 'Roboto';
}

.finder__top {
    margin: 0 auto;
    text-align: center;
}

.finder__items {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.finder__item {
    margin-bottom: 20px;
    display: block;
    text-align: left;
}

.finder__item-btn {
    margin-bottom: 20px;
    display: block;
    text-align: left;
}

.finder__item-padding {
    padding-right: 10px;
    max-width: 50%;
}

.finder__items-line {
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    background-color: #ffffff;
}

.finder__item-text {
    align-items: center;
    margin: 0 auto;
    font-size: 22px;
    color: #ffffff;
    font-weight: 100;
    letter-spacing: 0.3px;
    font-family: 'Roboto';
}

.fa-map-marker-alt,
.fa-phone-alt {
    padding-right: 7px;
}

.finder__item-text p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.finder__item-title {
    font-size: 30px;
    color: #ffffff;
    font-weight: 100;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.finder__item-link {
    border: none;
    font-family: 'Roboto';
    font-size: 20px;
    letter-spacing: 1px;
    margin-right: 40px;
    font-weight: lighter;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    background-color: #02a8f3;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
}

.finder__item-link:hover {
    color: #ffffff;
    background-color: #049de4;
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.finder__item-link:active {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    color: #ffffff;
    background-color: #0692d3;
    text-decoration: none;
    outline: none;
}

.container-footer {
    display: block;
    margin: 0 auto;
}

.container__footer-content {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #464646;
}

.footer__items {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer__item {
    padding-right: 20px;
    max-width: 20%;
    text-align: center;
    position: relative;
    background: transparent;
}

.footer__item-logo-outer {
    padding-right: 15px;
    max-width: 20%;
    text-align: center;
    position: relative;
    background: transparent;
}

.footer__item-title {
    font-size: 20px;
    color: #afafaf;
    font-weight: normal;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.footer__menu ul {
    margin: 0 auto;
    list-style-type: none;
}

.footer__menu li {
    margin: 0 auto;
    display: list-item;
}

.footer__menu a {
    font-size: 14px;
    color: #c4c4c4;
    font-weight: 100;
    letter-spacing: 0.3px;
    font-family: 'Roboto';
    text-decoration: none;
}

.footer__menu a:hover {
    color: #d8d8d8;
    text-decoration: none;
    outline: none;
}

.footer__menu a:active {
    text-decoration: none;
    outline: none;
    color: #ebebeb;
}

.footer_item-padding {
    text-align: center;
}

.footer__menu-social a {
    font-size: 14px;
    color: #c4c4c4;
    font-weight: 100;
    letter-spacing: 0.3px;
    font-family: 'Roboto';
    text-decoration: none;
}

.footer__menu-social li {
    padding-right: 5px;
    padding-top: 20px;
    margin: 0 auto;
    list-style-type: none;
    display: inline-block;
}

.footer__menu-social li a:hover {
    color: #d8d8d8;
    text-decoration: none;
    outline: none;
}

.footer__menu-social li a:active {
    text-decoration: none;
    outline: none;
    color: #ebebeb;
}

.footer__line {
    margin-top: 15px;
    width: 100%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    color: #c4c4c4;
    background-color: #c4c4c4;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0 auto;
}

.footer__auth span,
.footer__copy span {
    font-size: 12px;
    color: #c4c4c4;
    font-weight: 100;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.footer__logo a {
    text-decoration: none;
    background-color: transparent;
}

.footer__item-logo {
    margin-top: 30px;
    background-image: url("/static/siteHomePage/images/logo_footer.png");
    min-height: 80px;
    min-width: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.about__about {
    display: block;
}

.about__about-line {
    border-radius: 6px;
    max-width: 40%;
    height: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #02a8f3;
    background-color: #02a8f3;
}

.about__about-text {
    padding: 2px;
    max-width: 40%;
}

.about__about-text p {
    text-align: left;
    font-size: 20px;
    color: #393939;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.about__about-title {
    text-align: left;
    max-width: 40%;
    margin-top: 10px;
}

.about__about-title span {
    font-size: 35px;
    color: #393939;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.about__info-item-title {
    max-width: 40%;
    text-align: left;
    border-radius: 0 16px 16px 0;
    padding: 4px;
    padding-left: 5px;
    color: #02a8f3;
    background-color: #02a8f3;
}

.about__info-item-title span {
    font-size: 28px;
    color: #ffffff;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.about__info-item-text {
    display: flex;
    justify-content: flex-start;
}

.about__info-item-text-content {
    max-width: 90%;
    margin-top: 10px;
    padding-left: 15px;
}

.about__info-item-text-content p {
    margin-bottom: 0px;
    text-align: left;
    font-size: 18px;
    color: #393939;
    font-weight: 400;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.about__info-item-text-icon {
    color: #02a8f3;
    max-width: 90%;
    margin-left: 10px;
    margin-top: 10px;
}

.about__info-item {
    margin-bottom: 15px;
}

.about__gallery {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
}

.about__gallery-title {
    margin: 0 auto;
    width: 60%;
    border-radius: 24px;
    text-align: center;
    padding: 4px;
    padding-top: 0px;
    color: #3ba642;
    background-color: #3ba642;
}

.about__gallery-title span {
    margin-bottom: 0px;
    font-size: 28px;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.about__gallery-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
}

.about__gallery-item {
    margin: 20px;
    position: relative;
    border-radius: 16px;
    width: 220px;
    height: 200px;
    color: #02a8f3;
    background-color: #02a8f3;
}

.about__item-img {
    padding: 5px;
}

.about__item-img img {
    display: block;
    margin: 0 auto;
    min-width: 80%;
    max-width: 80%;
    border-style: none;
}

.about__gallery-item-bottom {
    position: absolute;
    padding: 5px;
    text-align: center;
    display: block;
    border-radius: 0 0 16px 16px;
    bottom: 0px;
    width: 100%;
    height: 20%;
    color: #3ba642;
    background-color: #3ba642;
}

.about__gallery-item-bottom span {
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.services__about {
    padding-top: 20px;
    padding-bottom: 0px;
    display: block;
}

.services__about-line {
    border-radius: 6px;
    max-width: 40%;
    height: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #3ba642;
    background-color: #3ba642;
}

.services__about-text {
    padding: 2px;
    max-width: 40%;
}

.services__about-text p {
    text-align: left;
    font-size: 20px;
    color: #393939;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.services__about-title {
    text-align: left;
    max-width: 40%;
    margin-top: 10px;
}

.services__about-title span {
    font-size: 35px;
    color: #393939;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.services__info-item-title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 0 16px 16px 0;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    color: #3ba642;
    background-color: #3ba642;
}

.services__info-item-title span {
    font-size: 18px;
    color: #ffffff;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.services__info-items {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
    max-width: 70%;
    padding-left: 5px;
    position: relative;
}

.services__info-items:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #3ba642;
}

.services__info-item {
    display: block;
    padding-bottom: 0px;
    padding-top: 0px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 100;
    letter-spacing: 0.3px;
    font-family: 'Roboto';
}

.services__info-item a:hover {
    text-decoration: none;
}

.services__info-item-addon {
    max-width: 90%;
    background-color: #02a8f3;
    display: inline-block;
    padding: 0px 6px;
    padding-right: 10px;
    border-radius: 0 0 16px 0;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.services__info-item-addon span {
    text-decoration: none;
    font-size: 12px;
    color: #ffffff;
    font-weight: 100;
    letter-spacing: 0.3px;
    font-family: 'Roboto';
}

.services__info-item-wrapper {
    margin: 10px 0;
}

.feedback__form {
    padding-top: 20px;
    padding-bottom: 0px;
    display: block;
}

.feedback__inner {
    padding-top: 20px;
    padding-bottom: 0px;
    display: block;
}

.feedback__form-title {
    text-align: left;
    max-width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.feedback__form-title span {
    font-size: 26px;
    color: #393939;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.feedback__form-content-align {
    border-radius: 24px;
    padding: 10px 15px 10px 15px;
    text-align: left;
    max-width: 400px;
    width: 100%;
    background-color: #02a8f3;
}

.feedback__form-box-inner {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin-bottom: 10px;
}

.feedback__form-box-inner label,
input,
textarea {
    padding-bottom: 5px;
    width: 100%;
}

.feedback__form-box-inner input,
.feedback__form-box-inner textarea {
    color: #393939;
    padding: 6px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto';
    outline: none;
    border: none;
    border-radius: 12px;
}

.feedback__form-box-inner textarea {
    height: 140px;
    resize: none;
}

.feedback__form-box-inner button {
    border: none;
    max-width: 60%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    font-family: 'Roboto';
    font-size: 24px;
    letter-spacing: 1px;
    margin-right: 40px;
    font-weight: lighter;
    border-radius: 32px;
    color: #ffffff;
    background-color: #ff8422;
    padding: 8px 0px;
}

.feedback__form-box-inner button:hover {
    color: #ffffff;
    background-color: #ee7c1f;
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.feedback__form-box-inner button:active {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    color: #ffffff;
    background-color: #df741c;
    text-decoration: none;
    outline: none;
}

::placeholder {
    color: #a8a8a8
}

.feedback__form-box-title {
    padding-bottom: 8px;
}

.feedback__form-box-title span {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: 100;
    letter-spacing: 0.3px;
    font-family: 'Roboto';
}

.about__about-title-one-service {
    text-align: left;
    max-width: 40%;
    margin-top: 10px;
}

.about__about-title-one-service span {
    font-size: 35px;
    color: #393939;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.about__about-line-one-service {
    border-radius: 6px;
    max-width: 40%;
    height: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #02a8f3;
    background-color: #02a8f3;
}

.about__info-item-one-service {
    display: block;
    padding-bottom: 0px;
    padding-top: 0px;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: 100;
    letter-spacing: 0.3px;
    font-family: 'Roboto';
}

.about__info-item-addon-one-service {
    max-width: 25%;
    background-color: #3ba642;
    display: inline-block;
    padding: 4px 18px;
    border-radius: 0 0 16px 0;
}

.about__info-item-addon-one-service span {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    font-weight: 100;
    letter-spacing: 0.3px;
    font-family: 'Roboto';
}

.about__info-item-title-one-service {
    max-width: 40%;
    text-align: left;
    border-radius: 0 16px 16px 0;
    padding: 4px;
    padding-left: 5px;
    color: #02a8f3;
    background-color: #02a8f3;
}

.about__info-item-title-one-service span {
    font-size: 28px;
    color: #ffffff;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.about__about-one-service {
    display: block;
    margin-bottom: 15px;
}

.about__about-back-one-service {
    margin-top: 10px;
    margin-bottom: 15px;
}

.about__about-back-one-service a {
    font-family: 'Roboto';
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: lighter;
    border-radius: 0 16px 16px 0;
    color: #ffffff;
    text-decoration: none;
    background-color: #3ba642;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
}

.about__about-back-one-service a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #42b84a;
}

.about__about-back-one-service a:active {
    text-decoration: none;
    color: #ffffff;
    background-color: #48c951;
}

.reviews__about-line {
    border-radius: 6px;
    width: 40%;
    height: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #37b9f4;
    background-color: #37b9f4;
}

.reviews__info-items {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
    max-width: 70%;
    padding-left: 5px;
    position: relative;
}

.reviews__info-item-wrapper-blue {
    position: relative;
    padding: 4px;
    margin: 20px 0;
    border-left: 10px solid #02a8f3;
    background: #fefcea;
    background: linear-gradient(to right, #019be2, #bde9fd);
}

.reviews__info-item {
    margin-right: 20px;
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.reviews__info-item div {
    padding-right: 10px;
}

.reviews__info-item-title span {
    align-items: baseline;
    font-size: 18px;
    color: #ffffff;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.reviews__info-item-date span {
    align-items: baseline;
    font-size: 12px;
    color: #ffffff;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}

.reviews_info-item-addon {
    display: inline-block;
}

.reviews__info-item-addon p {
    margin-bottom: 0;
    text-decoration: none;
    font-size: 12px;
    color: #ffffff;
    font-weight: 100;
    letter-spacing: 0.3px;
    font-family: 'Roboto';
}

.reviews__about-line-separator {
    width: 100%;
    height: 1px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #ffffff;
    background-color: #ffffff;
}

.reviews__reviews-btn {
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;
    text-align: left;
}

.reviews__reviews-btn-link {
    border: none;
    font-family: 'Roboto';
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: lighter;
    border-radius: 32px;
    line-height: 32px;
    color: #ffffff;
    background-color: #02a8f3;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.reviews__reviews-btn-link:hover {
    color: #ffffff;
    background-color: #049de4;
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}

.reviews__reviews-btn-link:active {
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    color: #ffffff;
    background-color: #0692d3;
    text-decoration: none;
    outline: none;
}

.reviews__form {
    padding-top: 30px;
    padding-bottom: 0px;
    display: block;
}

.reviews__form-content-align {
    border-radius: 24px;
    padding: 10px 15px 10px 15px;
    max-width: 400px;
    width: 100%;
    background-color: #02a8f3;
}

.reviews__form-box-inner {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin-bottom: 10px;
}

.reviews__form-box-inner label,
input,
textarea {
    padding-bottom: 5px;
    width: 100%;
}

.reviews__form-box-inner input,
.reviews__form-box-inner textarea {
    color: #393939;
    padding: 6px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto';
    outline: none;
    border: none;
    border-radius: 12px;
}

.reviews__form-box-inner textarea {
    height: 140px;
    resize: none;
}

.reviews__form-box-inner button {
    margin: 0 auto;
    width: 70%;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    font-family: 'Roboto';
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: lighter;
    border-radius: 32px;
    color: #ffffff;
    background-color: #ff8422;
    padding: 8px 0px;
}

.reviews__form-box-inner button:hover {
    color: #ffffff;
    background-color: #ee7c1f;
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.reviews__form-box-inner button:active {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    color: #ffffff;
    background-color: #df741c;
    text-decoration: none;
    outline: none;
}

.reviews__form-box-title {
    text-align: center;
    padding-bottom: 16px;
}

.reviews__form-box-title span {
    text-decoration: none;
    font-size: 28px;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0.3px;
    font-family: 'Roboto';
}

.modal-content {
    background-color: transparent !important;
    border: none !important;
}

.reviews__form-content-align-modal {
    margin: auto;
    border-radius: 24px;
    padding: 10px 15px 10px 15px;
    max-width: 400px;
    width: 100%;
    background-color: #02a8f3;
}